.container {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}